.rightContentBox {
    margin: 10;
    background-color: #52371f;}

.rightContentBox h1 {
    color:#dbd2ca;}

.rightContentBox h2 { 
   
    color:#B9A09A;}
.rightContentBox p {
   text-algin: justify;
   color: white;}

.rightContentBox ul {
   color: white;
   text-algin: justify:}

.rightContentBox a {
color:#ba9b80;}

.rightContentBox table{
color: white;}

